.NameBox {
  width: 100%;
  min-height: 120px;
  font-size: 4rem;
  font-weight: bold;
}

.Placeholder {
  margin-top: 45px;
  margin-bottom: -45px;
  font-size: 40px;
  width: 100%;
  min-height: 120px;
}

.SubText {
  font-size: 25px;
}
